#home {
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
}

body {
    font-family: arial;
    image-rendering: pixelated;
}

.overlay {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
}

#grass {
    position: absolute;
    background-color: darkolivegreen;
    width: 100%;
    height: 80%;
    bottom: 0px;
    display: block;
}

#game {
    transform: translateY(300px) scale(2.5);
    perspective: 2000px;
    width: 500px;
    height: 300px;
    border: 1px solid green;
    overflow: hidden;
    background: powderblue;
    margin: auto;
}

.layer_far {
    position: relative;
    z-index: -100;
    transform: translate3d(0, 0, -200px);
    display: none;
}

.layer_middle {
    display: flex;
    align-items: flex-end;
    transform: translate3d(0, 140px, -10px);
    perspective: 700px;
    transform-style: preserve-3d;
    bottom: 140px;
    height: 350px;
    position: relative;
}

#health-bar {
    width: 200px;
    height: 15px;
    border: solid 1px black;
    background: white;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#game-over {
    font-size: 48px;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    background: rebeccapurple;
}

#scores::before {
    content: 'Distance: ';
}

#scores {
    color: whitesmoke;
    position: fixed;
    top: 10px;
    right: 0px;
    width: 140px;
    z-index: 1;
}

/* .layer_street::afterafter {
    content: '';
    width: 100%;
    position: absolute;
    left: 0px;
    top: 35px;
    border: 3px dashed white;
}
 */

.assetImg {
    display: none;
}

.layer_street {
    border: 5px solid dimgray;
    padding-top: 5px;
    background-color: gray;
    position: absolute;
    bottom: 0px;
    height: 75px;
    z-index: 11;
}

.layer_middle .building {
    margin-left: 200px;
}

.building {
    display: flex;
    position: relative;
}

.side {
    backface-visibility: hidden;
    opacity: 50%;
    box-sizing: border-box;
}

.building .side.left {
    transform: rotateY(90deg) scaleZ(-1);
    transform-origin: 0 0;
    position: absolute;
}

.building .side.right {
    transform: rotateY(270deg) scaleZ(-1);
    transform-origin: 100% 0;
    position: absolute;
    right: 0;
}

.building .side.top {
    background-color: gray !important;
    background-image: none;
    border: 7px solid darkgrey;
    position: absolute;
    transform: rotateX(-90deg) scaleZ(-1);
    transform-origin: 100% 0;
}

.building .side.front,
.building .side.top {
    z-index: 1;
}

#city {
    height: 300px;
}

div#game>canvas {
    display: block;
}